venv-jajancuy
backend/django_backend/user_services/user_services/.env
backend/django_backend/transaction_services/transaction_services/.env
backend/django_backend/content_services/content_services/.env
