.venv/
*.pyc
*.env

user_services/.pytest_cache/
accounts_managements/__pycache__/
accounts_managements/management/commands/__pycache__/
accounts_managements/migrations/__pycache__/
accounts_managements/migrations/*.py
accounts_managements/test/__pycache__/
user_services/__pycache__/
