django_backend/user_services/accounts_managements/__pycache__/
django_backend/user_services/accounts_managements/management/__pycache__/
django_backend/user_services/accounts_managements/migrations/__pycache__/
django_backend/user_services/user_services/__pycache__/
django_backend/user_services/user_services/.env