# Ignore virtual environment
venv-jajancuy/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django migrations folder
django_backend/user_services/accounts_managements/migrations/

# Ignore .env files
*.env
