# Ignore virtual environment
venv-jajancuy/

# Ignore Python bytecode files
*.pyc
django_backend/user_services/accounts_managements/__pycache__/
django_backend/user_services/accounts_managements/commands/__pycache__/
django_backend/user_services/user_services/__pycache__/

# Ignore Django migrations folder
django_backend/user_services/accounts_managements/migrations/


# Ignore .env files
*.env
